vendor
.idea
cache
ssl
phpdocker/data_mysql
.env.local
symfony/var
application/.env.test
var/
.php-cs-fixer.cache
.php-cs-fixer.dist.php
var/cache
var/log
phpdocker/
.php_cs.cache
init-letsencrypt.sh
docker-compose.override.yml
docker-compose.yml
application/tools
phpdocker/php-fpm
Cli/
.phpunit.cache
.phpunit.result.cache
src/Domain/Command.php
