vendor
.idea
cache
ssl
phpdocker/data_mysql
.env.local
symfony/var
application/.env
application/var
application/.php-cs-fixer.cache
application/.php-cs-fixer.dist.php
var/cache
var/log
phpdocker/
.php_cs.cache
init-letsencrypt.sh
application/docker-compose.override.yml
application/docker-compose.yml
application/tools
phpdocker/php-fpm
docker-compose.yml
application/src/Application/Cli
application/.phpunit.cache
application/.phpunit.result.cache
